@model ProboVideo.ViewModels.RandomModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieForm</h2>

@using (Html.BeginForm("Save", "Movie"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Title)
        @Html.TextBoxFor(m => m.Movie.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Description)
        @Html.TextBoxFor(m => m.Movie.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.AddedDate)
        @Html.TextBoxFor(m => m.Movie.AddedDate, "{0:d MMM yyyy}", new { @class = "form-control", @value = "" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate,"{0:d MMM yyyy}", new { @class = "form-control", @value = "" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control", @value = "" })
    </div>
    <button class="btn btn-primary" value="submit">Save</button>
}